body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:336px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:627px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:627px;
}
#u2 {
  position:absolute;
  left:2px;
  top:306px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:100px;
  width:250px;
  height:430px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:430px;
}
#u4 {
  position:absolute;
  left:2px;
  top:207px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:100px;
  width:250px;
  height:430px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:430px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:30px;
  width:250px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:88px;
  top:43px;
  width:73px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:108px;
  top:71px;
  width:34px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:10px;
  top:110px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:18px;
  top:136px;
  width:112px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:162px;
  width:250px;
  height:48px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:48px;
}
#u17 {
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:170px;
  width:67px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:10px;
  top:192px;
  width:60px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:230px;
  width:250px;
  height:200px;
  overflow:hidden;
}
#u22_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:16px;
  top:56px;
  width:210px;
  height:114px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:114px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u22_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:40px;
  color:#FF0000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:60px;
  width:200px;
  height:120px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u34 {
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:98px;
  top:7px;
  width:53px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:8px;
  top:7px;
  width:35px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:40px;
  top:490px;
  width:250px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:40px;
  top:80px;
  width:250px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:3px;
  top:5px;
  width:327px;
  height:96px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:96px;
}
#u46 {
  position:absolute;
  left:2px;
  top:40px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:180px;
  top:495px;
  width:100px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
