body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:627px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:627px;
}
#u2 {
  position:absolute;
  left:2px;
  top:306px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:100px;
  width:250px;
  height:430px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:430px;
}
#u4 {
  position:absolute;
  left:2px;
  top:207px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:100px;
  width:250px;
  height:730px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:730px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:30px;
  width:250px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:88px;
  top:66px;
  width:73px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:18px;
  top:140px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:18px;
  top:166px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:192px;
  width:250px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u15 {
  position:absolute;
  left:18px;
  top:156px;
  width:200px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:220px;
  width:250px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:18px;
  top:228px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:0px;
  top:260px;
  width:250px;
  height:150px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:150px;
}
#u21 {
  position:absolute;
  left:2px;
  top:67px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:430px;
  width:250px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:18px;
  top:433px;
  width:53px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:18px;
  top:459px;
  width:30px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:58px;
  top:456px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:58px;
  top:474px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:25px;
  top:489px;
  width:205px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:188px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:205px;
  height:1px;
}
#u33 {
  position:absolute;
  left:18px;
  top:499px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:98px;
  top:7px;
  width:40px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:8px;
  top:7px;
  width:35px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:0px;
  top:550px;
  width:250px;
  height:170px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:170px;
}
#u42 {
  position:absolute;
  left:2px;
  top:77px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:18px;
  top:560px;
  width:79px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:68px;
  top:585px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:118px;
  top:588px;
  width:50px;
  height:14px;
  font-size:11px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:42px;
  top:609px;
  width:151px;
  height:13px;
  font-size:10px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:13px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:67px;
  top:627px;
  width:111px;
  height:15px;
  font-size:12px;
  color:#FF6600;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:72px;
  top:642px;
  width:100px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:74px;
  top:645px;
  width:96px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u56 {
  position:absolute;
  left:68px;
  top:680px;
  width:115px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:25px;
  top:555px;
  width:200px;
  height:30px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:67px;
  top:540px;
  width:116px;
  height:28px;
  color:#FF0000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:40px;
  top:80px;
  width:250px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:3px;
  top:530px;
  width:356px;
  height:276px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:276px;
}
#u65 {
  position:absolute;
  left:2px;
  top:130px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:3px;
  top:2px;
  width:327px;
  height:96px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:96px;
}
#u67 {
  position:absolute;
  left:2px;
  top:40px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-7px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:790px;
  width:320px;
  height:70px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u71 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
