body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:336px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:627px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:627px;
}
#u2 {
  position:absolute;
  left:2px;
  top:306px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:100px;
  width:250px;
  height:430px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:430px;
}
#u4 {
  position:absolute;
  left:2px;
  top:207px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:100px;
  width:250px;
  height:390px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:98px;
  top:7px;
  width:40px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:190px;
  width:255px;
  height:205px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:83px;
  top:0px;
  width:83px;
  height:50px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:166px;
  top:0px;
  width:84px;
  height:50px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:80px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:50px;
  width:83px;
  height:50px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:83px;
  top:50px;
  width:83px;
  height:50px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:166px;
  top:50px;
  width:84px;
  height:50px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:80px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:100px;
  width:83px;
  height:50px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:83px;
  top:100px;
  width:83px;
  height:50px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:166px;
  top:100px;
  width:84px;
  height:50px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:80px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:150px;
  width:83px;
  height:50px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:83px;
  top:150px;
  width:83px;
  height:50px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:166px;
  top:150px;
  width:84px;
  height:50px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:25px;
  top:348px;
  width:32px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:194px;
  top:348px;
  width:32px;
  height:32px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:160px;
  width:250px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:14px;
  top:167px;
  width:104px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:176px;
  top:165px;
  width:50px;
  height:20px;
  color:#FF0000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:2px;
  top:339px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:168px;
  top:339px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:22px;
  top:40px;
  width:206px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:15px;
  top:85px;
  width:225px;
  height:48px;
  font-size:20px;
  color:#FF0000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:48px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:40px;
  top:490px;
  width:250px;
  height:40px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:58px;
  top:511px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:110px;
  top:511px;
  width:37px;
  height:13px;
  font-size:10px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:170px;
  top:511px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:233px;
  top:511px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#000000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:66px;
  top:495px;
  width:16px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:235px;
  top:495px;
  width:16px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u64 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:118px;
  top:495px;
  width:16px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:178px;
  top:495px;
  width:16px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u68 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:170px;
  top:495px;
  width:31px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:58px;
  top:495px;
  width:31px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:228px;
  top:495px;
  width:31px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:110px;
  top:495px;
  width:37px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
